body{
  padding: 20px;

}
.tab{
  text-align: center;
  border: 1px solid gray;
  margin-top: 50px;
}
.centr{
  text-align: center;
}



/* für die pfeile löchen */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.container1 {
  display: grid;
  text-align:  center;
  padding: 0;
  width: 100%;
  grid-template-columns:  1fr 2fr 1fr 1fr 1fr 1fr;
}
.container1 .item{
  border: 1px solid gray;
  text-align: center;

}


.container1 input{
  border: none;
  width: 100%;
  text-align: center;
}

.container1 .total {
 
  grid-column: span 5;
  
}