
.tab{
  text-align: center;

  margin-top: 50px;
}
.centr{
  text-align: center;
}



/* für die pfeile löchen */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.container {
  display: grid;
  text-align:  center;
  padding: 0;
  grid-template-columns:  1fr 2fr 1fr 1fr 1fr 1fr;
}
.container .item{
  border: 1px solid gray;
  text-align: center;

}


.container input{
  border: none;
  text-align: center;
  width: 100%;
}

.total {
  border: 1px solid gray;
  
}